shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true

# npm镜像配置
registry=https://registry.npmmirror.com

# 其他镜像源（可选）
# 淘宝镜像：https://registry.npmmirror.com
# 腾讯镜像：https://mirrors.cloud.tencent.com/npm/
# 华为镜像：https://mirrors.huaweicloud.com/repository/npm/

# 二进制包镜像（加速构建）
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips
puppeteer_download_host=https://npmmirror.com/mirrors
electron_mirror=https://npmmirror.com/mirrors/electron/
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs/
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver
fse_binary_host_mirror=https://npmmirror.com/mirrors/fsevents
